.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 50%;

  select {
    height: 30px;
    padding: 4px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
  }
}